include builder.sh
include builder.bat
include builder_MSYS.bat
include CMakeLists.txt
include MANIFEST.in.fragment
include license.txt
include requirements.txt
include version.txt
recursive-include ASRCAISim1 *Core.*
recursive-include ASRCAISim1/include/ASRCAISim1 *.h
recursive-include ASRCAISim1/include/thirdParty *
recursive-include ASRCAISim1/config *.json
include ASRCAISim1/rangeTable.npz
recursive-include include *.h
recursive-include src *.cpp
recursive-include thirdParty/include/pybind11_json *
prune ASRCAISim1/addons
include ASRCAISim1/addons/__init__.py

include sample/config/MANIFEST.in.fragment
recursive-include sample/config *.json

include sample/Standard/MANIFEST.in.fragment
recursive-include sample/Standard *.py
recursive-include sample/Standard *.json

include sample/OriginalModelSample/MANIFEST.in.fragment
include sample/OriginalModelSample/setup.py
include sample/OriginalModelSample/builder.sh
include sample/OriginalModelSample/builder.bat
include sample/OriginalModelSample/builder_MSYS.bat
include sample/OriginalModelSample/CMakeLists.txt
include sample/OriginalModelSample/MANIFEST.in.self
recursive-include sample/OriginalModelSample/OriginalModelSample *
recursive-include sample/OriginalModelSample/include *
recursive-include sample/OriginalModelSample/src *
recursive-exclude sample/OriginalModelSample/OriginalModelSample *.pyc
include sample/MinimumEvaluation/MANIFEST.in.fragment
recursive-include sample/MinimumEvaluation *.py
recursive-include sample/MinimumEvaluation *.json
recursive-include sample/MinimumEvaluation *.dat
recursive-exclude sample/MinimumEvaluation *.pyc

include addons/rayUtility/MANIFEST.in.fragment
include addons/rayUtility/builder.py
include addons/rayUtility/requirements.txt
recursive-include addons/rayUtility *.py
recursive-include addons/rayUtility/extension *
recursive-include addons/rayUtility/logger *
recursive-exclude addons/rayUtility *.pyc
recursive-include ASRCAISim1/addons/rayUtility *

include addons/AgentIsolation/MANIFEST.in.fragment
include addons/AgentIsolation/builder.py
include addons/AgentIsolation/builder.sh
include addons/AgentIsolation/builder.bat
include addons/AgentIsolation/builder_MSYS.bat
include addons/AgentIsolation/CMakeLists.txt
recursive-include addons/AgentIsolation/AgentIsolation *
recursive-include addons/AgentIsolation/include *
recursive-include addons/AgentIsolation/src *
recursive-exclude addons/AgentIsolation/AgentIsolation *.pyc
recursive-include ASRCAISim1/addons/AgentIsolation *
