aiohttp==3.8.1
aiohttp-cors==0.7.0
aioredis==1.3.1
aiosignal==1.2.0
ASRCAISim1 @ file:///Volumes/Sub/Downloads/simulator/ASRCAISim1-1.0.0-py3-none-any.whl
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
blessed==1.19.1
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
cloudpickle==2.0.0
colorful==0.5.4
cycler==0.11.0
Deprecated==1.2.13
dm-tree==0.1.6
filelock==3.4.2
fonttools==4.29.1
frozenlist==1.3.0
google-api-core==2.5.0
google-auth==2.6.0
googleapis-common-protos==1.54.0
gpustat==1.0.0b1
grpcio==1.43.0
gym==0.21.0
hiredis==2.0.0
idna==3.3
imageio==2.14.1
importlib-metadata==4.10.1
importlib-resources==5.4.0
jsonschema==4.4.0
kiwisolver==1.3.2
lz4==3.1.10
matplotlib==3.5.1
msgpack==1.0.3
multidict==6.0.2
networkx==2.6.3
numpy==1.21.5
nvidia-ml-py3==7.352.0
opencensus==0.8.0
opencensus-context==0.1.2
opencv-python==4.5.5.62
OriginalModelSample @ file:///Volumes/Sub/Downloads/simulator/OriginalModelSample-1.0.0-py3-none-any.whl
packaging==21.3
pandas==1.3.5
Pillow==9.0.1
prometheus-client==0.13.1
protobuf==3.19.4
psutil==5.9.0
py-spy==0.3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.1
pygame==2.1.2
PyOpenGL==3.1.5
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
ray==1.9.1
redis==4.1.2
requests==2.27.1
rsa==4.8
scikit-image==0.19.1
scipy==1.7.3
six==1.16.0
smart-open==5.2.1
tabulate==0.8.9
tensorboardX==2.4.1
tifffile==2021.11.2
typing_extensions==4.0.1
urllib3==1.26.8
wcwidth==0.2.5
wrapt==1.13.3
yarl==1.7.2
zipp==3.7.0
